{% extends "layout.html" %}

{% block content %}
<div class="card">
  <div class="card__content">
    <form action="/store" method="POST">
      <h1>Cinepolis</h1>
      <div class="input__group">
        <input class="form__input" type="text" name="txtNombre" placeholder="Nombre del comprador">
        <input class="form__input" type="number" name="txtCompradores" placeholder="Cantidad de compradores">
        <input class="form__input" type="number" name="txtBoletos" placeholder="Cantidad de boletos"><br>
        <span>{{ span }}</span>
      </div>
      <div class="radio__group">
        <h3>Tarjeta Cineco:</h3>
        <input type="radio" name="option" id="yes" value="si" placeholder="SI"> SI
        <input type="radio" name="option" id="not" value="no"> NO
      </div>
      <h5 class="result">{{ nombre }} tu total a pagar es: ${{ descuento }}</h5>
      <div class="button__group">
        <input type="submit" value="PROCESAR">
      </div>
    </form>
  </div>
</div>
{% endblock %}